*{
    margin: 0;
    padding: 0;
}
.App{
    background-color: rgb(235, 233, 229);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://as01.epimg.net/img/comunes/fotos/fichas/equipos/large/1.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: 95%;
    
}